{% extends "base.html" %}
{% block content %}
<main>
    <div class="container wow fadeIn">

        <h2 class="my-5 h2 text-center">Cash on Delivery</h2>

        <div class="row">

            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-3">Order Summary</h4>
                        {% include "order_snippet.html" %}
                        <form action="." method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Confirm Order</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>
</main>
{% endblock content %}